<div class='row'>
    {{!-- could use font awesome icons instead --}}
    <h2 class='text-center'>📖 Featured Books 📖</h2>
    <ul class='container'>
    {{ #each books as |book| }}
        <li class='row justify-content-center'>
            <div class='col-6'>
                <div class='card'>
                    <div class='card-header'>
                        <div class='row'>
                            {{!-- link to the individual books landing page. Gets random book emoji from helper --}}
                            <span class='col-8'><a href='/library/book/{{book.id}}'>{{{get_bookmoji}}} {{book.book_name}}</a></span>
                            <span class='col-4 text-right'>{{star_count}} {{{format_plural "star" star_count}}}</span>
                        </div>
                    </div>
                    <div class="card-body row">
                        <img class='col-4' id='bookCover' src="/images/{{book.book_name}}.jpg" alt="{{book.book_name}}">
                        <div class="col-8 text-right">
                            <p>Author: {{book.author_id}}</p>
                            <p>Genre: {{book.genre_id}}</p>
                            {{!-- could add in a quote review here? --}}
                            <p>{{quote}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>